{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mixer Multimedia - Eventos{% endblock %}</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <meta name="description" content="Responsive Image Gallery with jQuery" />
        <meta name="keywords" content="jquery, carousel, image gallery, slider, responsive, flexible, fluid, resize, css3" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/ResponsiveImageGallery/style.css"%}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/ResponsiveImageGallery/elastislide.css"%}" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
		<noscript>
			<style>
				.es-carousel ul{
					display:block;
				}
			</style>
		</noscript>
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
                {%verbatim%}
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				{%endverbatim%}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
    </head>
    <body>
		<div class="container">
			<div class="content">
                 {% block content %}
                 {% endblock %}
			</div><!-- content -->
		</div><!-- container -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static "js/ResponsiveImageGallery/jquery.tmpl.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/ResponsiveImageGallery/jquery.easing.1.3.js"%}"></script>
		<script type="text/javascript" src="{% static "js/ResponsiveImageGallery/jquery.elastislide.js"%}"></script>
		<script type="text/javascript" src="{% static "js/ResponsiveImageGallery/gallery.js"%}"></script>
    </body>
</html>